.navLogIn, .navSites {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navListItem {
    padding: 16px;
    float: left;
}

.navListItem:hover {
    background-color: crimson;
    cursor: pointer;
}

.navWebsiteTitle {
    height: fit-content;
    margin: 0;
    padding: 0;
    padding-left: 16px;
    cursor: pointer;
}

nav {
    width: 100%;
    height: fit-content;
    background-color: maroon;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

